{% extends "layout.html" %}
{% block title %}
    教材
{% endblock title %}
{% block
    content %}
    <h1>教材ページ</h1>
    <p>このページには今回の担当体験会で使用する教材を掲載しています。</p>
    <p>コードを書いている様子を皆さんに見せながら進めていきますが、適宜教材も参照してください。</p>
    <div class="appendix">
        <h3>教材へのリンクはこちら</h3>
        <p>
            <a href="/materials/hp">ホームページ担当部分</a>
        </p>
        <p>
            <a href="/materials/platform">プラットフォーム担当部分</a>
        </p>
    </div>
    <label for="pathInput">Enter Path:</label>
    <input type="text" id="pathInput" />
    <button onclick="generateLink()" id="finish">入力完了</button>
    <a id="goTo" href>Go</a>
{% endblock content %}
{% block script %}
    <script src="/static/js/script.js"></script>
{% endblock script %}
